@page 
@model H.Initializer.Pages.NoPermissionModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>初始化</title>
</head>
<body>
    <h3>初始化：</h3>
    <hr />
    访问被拒绝，请联系管理员在服务器执行系统初始化...
</body>
</html>
