@page
@model H.Initializer.DbInit.Pages.DatabaseCreateModel
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "创建数据库";
}

<div style="margin-left:auto;margin-right:auto; width:800px;">
    <input type="button" id="btnCreate" onclick="CreateDatabase();" value="立即创建数据库" />
    &emsp;&emsp;<label id="initTip"></label>
</div>

<script type="text/javascript">
    function CreateDatabase() {
        $("#btnCreate").attr('disabled', true);
        $("#initTip").text("正在初始化数据库......");

        AjaxPostRequest('/DbInit/DatabaseCreate?handler=DatabaseCreate', {}, Callback);
    }

    function Callback(result) {
        $("#btnCreate").attr('disabled', false);
        $("#initTip").text("初始化完成!");

        window.location.href = result;
    }
</script>