@page
@model H.Initializer.DbInit.Pages.DatabaseMigrateModel
@Html.AntiForgeryToken()

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>初始化</title>
    <script type="text/javascript" src="~/lib/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/lib/util/common.js"></script>
    <script type="text/javascript">
        function MigrateDatabase() {
            $("#btnMigrate").attr('disabled', true);

            AjaxPostRequest('/DbInit/DatabaseMigrate?handler=DatabaseMigrate', {}, Callback);
        }

        function Callback(result) {
            window.location.href = result;
        }
    </script>
</head>
<body>
    <div style="margin-left:auto;margin-right:auto;">
        <h3>数据库变更：</h3>
        <hr />
        <input type="button" id="btnMigrate" onclick="MigrateDatabase()" value="迁移数据库" />
    </div>
</body>
</html>
